* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Mulish', sans-serif;
}

/*Start css navigation*/
#nav {
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
    /*Css for logo*/
.logo {
    margin: auto;
    min-width: 200px;
}
    /*Css for navbar*/
.nav {
    flex-grow: 4;
    display: flex;
    justify-content: space-around;
}
    /*Remove style list default*/
.nav > li{
    justify-content: center;
    list-style: none;
}

.nav > li > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
    /*Css for nav iteams*/
.nav_iteam {
    min-width: 70px;
    display: inline-block;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
    /*Css animation hover nav bar*/
.nav_iteam :hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
}

    /*Css account buttom*/
.nav > button{
    width: 250px;
    height: 56px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    background-color:rgba(255,159,103,0.1);
    padding: 5px;
    border-radius: 32px;
    border: none;
    color: #FD8F5F;;
    font-weight: 900;
}
    /*Css animation hover account buttom*/
.nav > button:hover{
    cursor: pointer;
}

/*-----End css navigation-------- */

/*Set background and backgroud banner*/
.banner {
    background-image: url("/img/backgroud1.png");
    overflow: hidden;
    width: 100%;
    /*#212519*/
    display: flex;
    padding: 75px 0 75px 100px;
    height: 700px;
    margin-top: 60px;
    animation-name: banner_exist;
    animation-duration: 0.1s;
}

@keyframes banner_exist{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
    /*Style box register and logi*/

.banner-section1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 540px;
    padding: 0 32px;
    color: #010A44;
        animation-duration: 1s;
    animation-name: banner_section1_exist;
    /* background-color: #0c0c31; */
}

@keyframes banner_section1_exist{
    0%{color: red;}
    20%{color: rgb(68, 0, 255);}
    40%{color: #130202;}
    60%{opacity: 0.6;}
    80%{opacity: 0.8;}
    100%{opacity: 1;}
}

.banner-section1 > p{
    font-weight: 800;
    margin-bottom: 16px;
}

.banner-section1 > h1{
    font-size: 50px;
    margin-bottom: 16px;
    font-weight: 900;

}

.banner-section2 {
    position: relative;
    width: 960px;
    height: 540px;
    background-color: #1d4eef;
    display: flex;   
}

#video-background {
    min-width: 960px;
    min-height: 540px;
}

.form-box {
	width: 380px;
	height: 480px;
    top: 24px;
    left: 38%;
	position: absolute;
    z-index: 1;
	background-color: rgb(255, 255, 255);
	padding: 5px;
    border-radius: 6px;
	overflow: hidden;
    /* animation-name: form_box_exist; */
    animation-duration: 1s;
}

#form-box{
    display: none;
}

@keyframes form_box_exist{
    0%{left: 100%;}
    20%{left: 100%;}
    100%{left: 70%;}
}

.button-box {
	max-width: 240px;
	margin: 35px auto;
    display: flex;
    background-color: rgba(78, 76, 76, 0.555);
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn {
    flex-grow: 1;
	padding: 10px 30px;
	cursor: pointer;
    font-size: 16px;
	background: transparent;
	border: 0;
    color: rgb(255, 241, 241);
    font-weight: 550;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 128px;
	height: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
	transition: .5s;
}

.soical-icons {
	margin: 40px 30px;
	text-align: center;
    font-size: 40px;
    color: #1d4eef;
    cursor: pointer;
}

.input-group {
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.check-box {
	margin: 30px 10px 30px 0;
}

.submit-btn {
    width: 85%;
	padding: 10px 30px;
    color: #FFF;
    font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin:  auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
}

.check-box > span {
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}

#login {
	left: 50px;
}

#register {
	left: 450px;
}

/*Section course*/
 
.course {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 150px 100px;
}

.heading_course > h1{
    font-size: 40px;
    margin: 100px 0px 50px 0;
    text-align: center;
}
    /*Css couser row*/
.course_row{
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: space-evenly;
}

.course_row + .course_row{
    margin-top: 30px;
}
    /*Css couser iteam*/
.course_item{
    width: 30%;
    height: 410px;
    overflow: hidden;
    border: 1px #eeeeee solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.course_item > img{
    z-index: 1;
    transition: transform 0.5s;
}
.course_item:hover{
    cursor: pointer;
}
.course_item:hover > img{
    transform: scale(1.1);
}

.course_item_detail{
    padding: 15px 15px 0 15px;
    height: 45%;
    z-index: 2;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course_item_detail >a{
    text-decoration: none;
}

.course_item_author{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course_item_author > li > img{
    border-radius: 50%;
}
.course_item_author > li > a{
    min-width: 75px;
    min-height: 30px;
    padding: 0 8px;
    display: inline-block;
    background-color: #f05123;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.course_item_author > li{
    cursor: pointer;
    list-style: none;
}

.course_item_author > li:hover a{
    transform: translateY(-8px);
}

/*Css Section about us*/
.container_gym_trainer_wrapper{
    background-color: #ffffff;
    padding: 170px 220px 70px 220px;
}

.trainer_wrapper{
    box-shadow: 0 5px 6px rgb(72 105 114);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.main-info-trainer-wrapper{
    display: flex;
    flex-direction: row;

}
.main-info-trainer-wrapper .section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 > img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}
.section1 .item-contact a{
    color: #4e4b4b;
    margin: 2px;
    font-size: 26px;
}

.section1 .fa-facebook:hover{
    color: #f05123;
    animation: all;
    cursor: pointer;
    animation-duration: 1s;
}

.section1 .fa-youtube:hover{
    color: #f05123;
    animation: all;
    cursor: pointer;
    animation-duration: 1s;
}

.section1 .fa-twitter:hover{
    color: #f05123;
    animation: all;
    cursor: pointer;
    animation-duration: 1s;
}

.section2{
    padding: 20px 30px 30px 50px;
}

.section2 > h3{
    color: #f65d5d;

}

.section2 li{
    list-style: none;
    display: flex;
    padding: 2px 0 2px 0;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.section2 .infor-item-1{
    min-width: 100px;
}


/*****/
.sub-info-trainer-wrapper{
    padding-left: 30px;
    font-size: 16px;
}

.list-achievement{
    padding: 8px 0 0 50px;
    list-style: none;
}

.list-achievement .fa-check-circle{
    color: #4b991f;
    padding: 2px 8px 2px 0;
}
/************************/

.community_wrapper{
    background-color: #fd8e5f69;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community_wrapper .fa-users{
    font-size: 40px;
    color: #1d4eef;
}

/***************/
.footer-wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #151515;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact_infor{
    flex-grow: 1;
}

.contact_iteam{
    list-style: none;
    margin: 12px 0;
    color: #ffffff;
    font-size: 20px;
}
.fa-phone-alt{
    color: #4f23f0;
    font-size: 24px;
}

.fa-map-marked-alt{
    color: #2331f0;
    font-size: 24px;
}

.footer-wrapper .fa-facebook{
    color: #2331f0;
    font-size: 24px;
}
.more_infor {
    flex-grow: 1;
    max-width: 700px;
    color: #eee;
}
.more_infor > h2{
    margin-bottom: 8px;
}

.footer-wrapper h3{
    color: #eee;
    margin-top: 40px;
}

