<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css-lib/css/fontawesome.css}"  rel= "stylesheet">
    <link th:href="@{/css-lib/css/brands.css}" rel="stylesheet">
    <link th:href="@{/css-lib/css/solid.css}" rel="stylesheet">
    <link th:href="@{/css/homePage.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Mulish:wght@200;300;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div id="nav" >
            <a th:href="@{/home}" class="logo"><img width="200px" height="60px" th:src="@{/img/logo.png}" alt=""></a>
            <ul th:object="${user}" class="nav">
                <li class="nav_item"><a th:href="@{/studyHome} + '?userPhone=' + *{userPhone}">Studying</a></li>
                <li class="nav_item"><a href="#Course">Course</a></li>
                <li class="nav_item"><a >Suport</a></li>
                <li class="nav_item"><i class="fas fa-user-circle"></i><span id="userPhone" th:attr="data-user=*{userPhone}" th:text = "*{userName}"></span></li>
            </ul>
        </div>
    </header>

    <section id="Course">
        <div class="course">
            <!--Container heading-->
            <div class="heading_course">
                <h1>The list course</h1>
            </div>
            <!--Container course-->
            <div class="course_row">
                <div class="course_item">
                    <img width="100%" height="55%" th:src="@{img/course img.jpg}" alt="" src="">
                    <div class="course_item_detail">
                        <a><h2>Gym course for beginners</h2></a>
                        <p>We happy to see you being here that mean you want to
                            train your body however not all of you know to do it correcly. Thus, we introduce you to this course
                            , it will help you how to do it easily and correctly.</p>
                        <ul class="course_item_author" th:object="${user}">
                            <li><img width="32px" height="32px" th:src="@{/img/Coach.jpg}"></li>
                            <li><a th:href="@{/course} +'?userPhone=' + *{userPhone} + '&' + 'courseId=1'" th:attr="data-courseId=1" class="buttom-register-course">Register course</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Section Courses-->
</body>
</html>