<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styleIndex.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="@{/css-lib/css/fontawesome.css}"  rel= "stylesheet">
    <link th:href="@{/css-lib/css/brands.css}" rel="stylesheet">
    <link th:href="@{/css-lib/css/solid.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Mulish:wght@200;300;600&display=swap" rel="stylesheet">
    <title>Online</title>
</head>
<body>
    <header>
        <!--Nav-->
        <div id="nav">
            <a href="#Home" class="logo"><img width="200px" height="60px" th:src="@{/img/logo.png}" alt=""></a>
            <ul class="nav">
                <li class="nav_iteam"><a href="#Home">Home</a></li>
                <li class="nav_iteam"><a href="#Trainer">Trainer</a></li>
                <li class="nav_iteam"><a href="#Course">Course</a></li>
                <li class="nav_iteam"><a href="#Community">Community</a></li>
                <button class="account_bth" onclick="showAcountElement()">Join Now!</button>
            </ul>
        </div>
        <!--End nav-->
    </header>

    <!--Start section Banner-->
    <section id="Home">
        <div class="banner">
            <div class="banner-section1">
                <p>Best for Health</p>
                <h1>Online Sport</h1>
                <h2>Sport everytime, everywhere!</h2>
            </div>

            <div class="banner-section2">
                <div>
                    <video autoplay muted loop id="video-background">
                        <source th:src="@{/video/intro_background.mp4}">
                    </video>
                </div>

                <div class="form-box" id="form-box">
                    <div class="button-box">
                        <div id="btn"></div>
                        <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                        <button type="button" class="toggle-btn" onclick="register()">Register</button>
                    </div>
                
                    <div class="soical-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
        
                    <form id="login" th:action="@{/homePage}"  th:object="${user}" class="input-group" method="POST">
                        <input type="text" th:field="*{userPhone}" class="input-field" placeholder="User Phone" required />
                        <input type="password" th:field="*{userPassword}" class="input-field" placeholder="Enter Password" required />
                        <input type="checkbox" class="check-box" /><span>Remember Password</span>
                        <button type="submit" class="submit-btn">Log In</button>
                    </form>
        
                    <form id="register" class="input-group" th:action="@{/register}" th:object="${user}"  method="POST">
                        <input type="text" class="input-field" th:field="*{userName}" placeholder="User Name" required />
                        <input type="text" class="input-field" th:field="*{userPhone}" placeholder="Enter Phone" required />
                        <input type="password" class="input-field" th:field="*{userPassword}" placeholder="Enter Password" required />
                        <input type="email" class="input-field" th:field="*{userEmail}" placeholder="Enter Email" required />
                        <button type="submit" class="submit-btn">Register</button>
                    </form>
    
                    <script>
                        var x = document.getElementById("login");
                        var y = document.getElementById("register");
                        var z = document.getElementById("btn");
                
                        function register() {
                            x.style.left = "-400px";
                            y.style.left = "50px";
                            z.style.left = "110px";
                        }
                
                        function login() {
                            x.style.left = "50px";
                            y.style.left = "450px";
                            z.style.left = "0";
                        }

                        function showAcountElement(){
                            var videoBackground= document.getElementById('video-background');
                            var accountElement = document.getElementById('form-box');
                            if(accountElement.style.display === "none"){
                                accountElement.style.display = "unset";
                                videoBackground.pause();
                            }else{
                                accountElement.style.display = "none";
                                videoBackground.play();
                            }
                        }
                    </script> 
                </div>  
            </div>
            <!--JS handle animation-->
                 
        </div>
    </section>
    <!--End section banner-->

      <!--Section About us-->
    <section id="Trainer">
        <div class="container_gym_trainer_wrapper">
            <div class="trainer_wrapper">
                <div class="main-info-trainer-wrapper">
                    <div class="section1">
                        <img th:src="@{/img/profileTrainer.jpg}" alt="">
                        <div class="item-contact">
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="section2">
                        <h2>Bùi Văn Ngợi</h2>
                        <h3>Gymer Trainer</h3>
                        <ul>
                            <li>
                                <div class="infor-item-1">
                                    <strong>Experience: </strong>
                                </div>
                                <div>
                                    <p>10 years</p>
                                </div>
                            </li>
                            <li>
                                <div class="infor-item-1">
                                    <strong>Email: </strong>
                                </div>
                                <p>buivanngoi@gmail.com</p>
                            </li>
                            <li>
                                <div class="infor-item-1">
                                    <strong>Biography: </strong>
                                </div>
                                <p>With many years in the field of fitness training, competition, climbing and extreme sports, I want to share the knowledge and experience that I have gained with everyone through these courses. Hope these will help everyone in life.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub-info-trainer-wrapper">
                    <h3>Achievements</h3>
                    <p>For many years, he has shared motivation for many leading financial groups in Vietnam such as: Prudential, Novotis, Amway...</p>
                    <ul class="list-achievement">
                        <li><i class="fas fa-check-circle"></i>2007: Conquered Mount Fansipan, Kota Kinabalu - Malaysia, Kilimamjaro - Tanzania, Island Peak - Nepal.</li>
                        <li><i class="fas fa-check-circle"></i>2011: Silver medal at Fansipan international climbing tournament.</li>
                        <li><i class="fas fa-check-circle"></i>2017: Silver medal in bodybuilding clubs nationwide - Cambodia.</li>
                        <li><i class="fas fa-check-circle"></i>2018: Top 6 bodybuilding competitions in Southeast Asia</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!--End Section About us-->

    <!--Section Couses-->
    <section id="Course">
        <div class="course">
            <!--Container heading-->
            <div class="heading_course">
                <h1>The list course</h1>
            </div>
            <!--Container course-->
            <div class="course_row">
                <div class="course_item">
                    <img width="100%" height="55%" th:src="@{img/course img.jpg}" alt="">
                    <div class="course_item_detail">
                        <a href="buyCourse.html"><h2>Name course</h2></a>
                        <p>Khóa học đề cao việc thực hành qua những ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</p>
                        <ul class="course_item_author">
                            <li><img width="32px" height="32px" th:src="@{/img/Coach.jpg}"></li>
                            <li><a>Register course</a></li>
                        </ul>
                    </div>
                </div>

                <div class="course_item">
                    <img width="100%" height="55%" th:src="@{img/course img.jpg}" alt="">
                    <div class="course_item_detail">
                        <a href="buyCourse.html"><h2>Name course</h2></a>
                        <p>Khóa học đề cao việc thực hành qua những ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</p>
                        <ul class="course_item_author">
                            <li><img width="32px" height="32px" th:src="@{/img/Coach.jpg}"></li>
                            <li><a>Register course</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Section Couses-->

    <section id="Community">
        <div class="community_wrapper">
            <a href="https://www.facebook.com/groups/390581978945496" target="_blank"><i class="fas fa-users"></i></a>
            <h3>6 Member</h3>
        </div>
    </section>

    <!--Contact infor-->
    <div class="footer">
        <ul class="contact_infor">
            <li class="contact_item"><a href=""><i class="fa fa-phone"></i>  +84123456789</a></li>
            <li class="contact_item"><a href=""><i class="fa fa-map-marker"></i>  9 District - HCM City</a></li>
            <li class="contact_item"><a href=""><i class="fa fa-facebook"> </i>  www.facebook.com</a></li>
        </ul>
        <div class="more_infor">
            <h2>About Me</h2>
            <p>OK ghgfgn</p>
        </div>
    </div>
</body>
</html>