* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav {
    background-color: rgb(31 30 30 / 25%);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
}

.nav{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
}

.nav .profile{
    display: flex;
}

.profile:hover{
    cursor: pointer;
}
.nav .profile > p {
    line-height: 60px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(7, 96, 173);
    padding: 0 5px;
}

.nav .profile .avatar{
    margin: 5px 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/*CSS buy course page*/

.detail-course{
    margin-top: 60px;
    display: flex;
    padding: 50px 100px;
}

.description-course-wrapper{
    flex-grow: 1;
}

.list-course-lesson-wrapper{
    min-width: 450px;
    display: inline-block
}
.description-course{
    display: flex;
    flex-direction: column;
}


.description-course-image{
    margin: auto;
}

.description-course-text{
    padding: 20px 45px 0 45px;
}
.list-course-lesson{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background-color: rgb(43, 106, 161);
    border-radius: 8px;
    align-items: center;
}

.lesson-item{
    min-width: 400px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 228);
    border-radius: 8px;
    padding: 10px 10px;
}

.buy-lesson-by-unit i{
    font-size: 20px;
    color: rgb(231, 0, 0);
}

.buy-lesson-by-unit a{
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 8px;
    min-width: 80px;
    min-height: 30px;
    background-color: rgb(1, 221, 221);
}

.buy-combo{
    display: flex;
    align-items: center;
}

.buy-combo >i{
    color: red;
    font-size: 20px;
    padding-right: 16px;
}

.buy-combo >a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}
